.Home{
    position: relative;
    height: 700px;
}
.Home img{
    position: absolute;
    height: 700px;
    width: 100%;
    top: 0;
    opacity: 0.9;
    z-index: 0;
}

.HomeContext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HomeContext h2{
    font-family: 'Noto Serif', serif;
}

.HomeContext h5{
    font-family: 'PT Sans Narrow', sans-serif;
}

.bookNow{
    padding: 10px 40px;
    position: absolute;
    bottom: -40px;
    background: #F73D93;
    width: 90%;
    left: 5%;
    border-radius: 10px;
}

.form-control{
    padding: 10px;
}
